*{
	font-size: 15px;
}
header img{
	width: 50px;
}
header {
	background: rgb(36,41,46);

}
header input{
/* 	margin-top: 15px; */
	width: 290px; 
	height: 30px;
	background: rgb(63,68,72);
	border-radius: 5px;	
	border: none;
}
header input:focus{	
	background: #fff;
}
#bell img{
	width: 20px;

}
#bell1{
	margin-top: 5px;
	margin-right: 10px; 
}
.btn-secondary:focus{
	box-shadow: none;
}
.btn-secondary:hover{
	background: rgba(63,68,72,0);
	border-color: rgba(63,68,72,0);
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
	background: rgba(63,68,72,0);
	border-color: rgba(63,68,72,0);
	box-shadow: none!important;
}
.btn-secondary{
	background: rgba(63,68,72,0);
	border-color: rgba(63,68,72,0);
}
#AndrewTi{
	width: 230px;
	border-radius: 6px;
	margin-top:25px; 
}
#nickname{
	display: inline-block;
	margin-top: 10px;
	font-size: 35px;
}
#name{
	
	font-size: 23px;
}
#follow{
	width: 230px;
	margin: 20px 0;
	
}
#menuRepo{
	margin:25px -20px 0 -20px ; 

}
#menuRepo div{
	margin: 0px 20px 0 20px;
}
.cardRepo{
	height: 100px;
	border: 1px solid black;
	border-radius: 3px;
	margin-top: 10px; 
}
.cardRepo span{
	display: inline-block;
	margin: 10px 20px;
}
.contributions{
	margin: 20px 0 5px 0;
	display: inline-block;
}
.calendar{
	border-radius: 3px;
	border: 1px solid black;
}
.calenrarCenter{
	text-align: center;
}
.calendar .month, .wday{
	font-size: 10px;
}
.calendarLearn{
	margin: 0 80px;
}
.contribut-margin{
	display: inline-block;
	margin: 13px 0; 
}
#month span{
	margin-right: 5px; 
}
#month:after {
	content: "";
	position:absolute;
	margin-top: 13px; 
	width: 87%;
	height: 1px;
	background: rgb(63,68,72);	
}
.accordion div{
	background: #fff;
	border: none;
}
.btn{
	width: 100%
}
.btn img{
	width:20px;
}
#help{
	margin-top: 20px;
	display: inline-block;
}
.nav{
	margin-top: 40px; 
}
footer{
	margin-bottom: 10px; 
}
footer img{
	width: 50px;
}
footer a {
	margin: 0 10px;
}